{% extends 'products/base.html' %}

{% block header %}
    <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}


{% block content %}
    <div>
       <h1>Наши популярные товары:</h1>
    </div>
    <div>
        {% for product in products %}
        <div>
            <div>
                <a>
                    <img src="{{ url_for('products_app.static', filename='images/'+product.img_path) }}"  width="225" height="225" alt="">
                </a>
                <div>
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.description }}</p>
                    <p><a href="{{ url_for('products_app.show_single_product', product_id=product.id) }}">Посмотреть товар</a></p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}